<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJETA.AI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Seção da Imagem -->
        <div class="image-container">
            <h1>PROJETA.AI</h1>
            <p>Crie projetos eficientes e criativos do zero com um só clique</p>
        </div>

        <!-- Seção do Formulário -->
        <div class="form-container" id="form-container">
            <h2>Responda às perguntas abaixo para entendermos o que você precisa!</h2>
            <form id="formulario">
                <label for="qtd_alunos">Qual o número aproximado de alunos que participarão do projeto?</label>
                <input type="number" id="qtd_alunos" name="qtd_alunos" required>

                <label for="faixa_etaria">Qual a faixa etária dos alunos?</label>
                <select id="faixa_etaria" name="faixa_etaria" required>
                    <option value="">Faixa etária</option>
                    <option value="5 a 10 anos">5-10 anos</option>
                    <option value="11 a 15 anos">11-15 anos</option>
                    <option value="16 anos ou mais">16+ anos</option>
                </select>

                <label for="grupo">De que maneira o projeto será executado: individual ou colaborativamente?</label>
                <select id="grupo" name="grupo" required>
                    <option value="">Individual ou Grupos</option>
                    <option value="individualmente">Individualmente</option>
                    <option value="em duplas">Em duplas</option>
                    <option value="em grupos de 3 ou mais alunos">Em grupos de 3 ou mais alunos</option>
                </select>

                <label for="nivel_experiencia">Qual o nível de experiência dos alunos em tecnologia?</label>
                <select id="nivel_experiencia" name="nivel_experiencia" required>
                    <option value="">Nível de experiência</option>
                    <option value="iniciante">Iniciante</option>
                    <option value="intermediario">Intermediário</option>
                    <option value="avancado">Avançado</option>
                </select>

                <label for="tipo_tarefa">Qual a categoria do projeto?</label>
                <select id="tipo_tarefa" name="tipo_tarefa" required>
                    <option value="">Categoria</option>
                    <option value="tarefa de classe">Tarefa de Classe</option>
                    <option value="tarefa de casa">Tarefa de Casa</option>
                    <option value="desafio">Desafio</option>
                    <option value="avaliacao">Avaliação</option>
                </select>

                <label for="nivel_dificuldade">Qual o nível de dificulade desejado?</label>
                <select id="nivel_dificuldade" name="nivel_dificuldade" required>
                    <option value="">Nível de dificuldade</option>
                    <option value="facil">Fácil</option>
                    <option value="moderado">Moderado</option>
                    <option value="dificil">Difícil</option>
                </select>

                <label for="ferramenta">Qual plataforma ou linguagem de programação será usada pelos alunos?</label>
                <input type="text" id="ferramenta" name="ferramenta" placeholder="Ex: Scratch, Python, HTML, App Inventor">

                <label for="objetivo">Qual o objetivo principal do projeto?</label>
                <input type="text" id="objetivo" name="objetivo" placeholder="Ex.: Ensinar lógica de programação, Desenvolver criatividade, Reforçar conceitos matemáticos, Simular situações do mundo real" required>

                <label for="duracao">Quantas horas você deseja que sejam dedicadas ao projeto?</label>
                <select id="duracao" name="duracao" required>
                    <option value="">Horas de dedicação</option>
                    <option value="2 horas">2 horas</option>
                    <option value="de 3 a 4 horas">de 3 a 4 horas</option>
                    <option value="de 5 a 8 horas">de 5 a 8 horas</option>
                    <option value="9 horas ou mais">9 horas ou mais</option>
                </select>

                <label for="conceitos">Qual conceito principal o projeto deverá abordar?</label>
                <input type="text" id="conceitos" name="conceitos" placeholder="Ex.: Loops, Condicionais, Variáveis" required>

                <label for="tema">O projeto deverá ter algum tema em específico? Se sim, digite o tema. Se não, digite "Nenhum".</label>
                <input type="text" id="tema" name="tema" placeholder="Ex.: Robôs, Pokemón, Anime">

                <button type="submit">Gerar Projeto</button>
            </form>
        </div>
        <div class="resposta-container" id="resposta-container">
            <h2>Resposta</h2>
            <div id="resposta"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}">
        console.log("O JavaScript carregou corretamente!");
    </script>
</body>
</html>
